:root{
    --spotify-main-blue: #141922;
    --spotify-main-black: #000000;
    --spotify-main-grey: #282828;
    
    --spotify-secondary-green: #bdff33;
    

    --spotify-main-text-color: #fefefe;
    --spotify-secondary-text-color: #a3a3a3;

}